* {
  box-sizing: border-box;
}

.container {
  width: 800px;
  margin: 0 auto;
}


/**
 * nav
 */
#nav {
  background-color: #ff6600;
  width: 100%;
  border: 1px solid red;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; /* z-index定義元素的層級，愈大的數字會放在愈上層，而視窗位於 0 的位置 */
}
.menu {
  float: right;
}
.menu li { /* menu下所有li選起來 */
  width: 120px;
  padding: 10px 0px;

  border: 1px solid #fff;
  border-radius: 5px;
  margin-bottom: -5px;

  list-style-type: none;
  text-align: center;
  background-color: #ff6600;
  color: #fff;

  display: inline-block;
}
a {
  display: block;
  color: #fff;
  text-decoration: none;
}
li:hover { /* 滑鼠移到時 */
  border: 1px solid #ff6600;
  background-color: #fff;
}
li:hover a {
  color: #ff6600;
  font-weight: 800;
}



/**
 * content
 */
#content {
  position: relative;
  top: 0px;
  padding: 70px;
}
#content > .container > div {
  padding: 70px 0;
}
hr.bar {
  border: 2px solid #ff6600;
  width: 80px;
}
h1 {
  text-align: center;
}


/* about me */
#my-avatar {
  float: left;
  margin-right: 20px;
}
#my-avatar img {
  width: 300px;
}

#about h1 {
  margin-bottom: 0;
  text-align: left;
}
h3 {
  margin: 0;
}
table {
  font-size: 14px;
  text-align: left;
}
th, td {
  vertical-align: top;
}
td {
  color: #666;
  padding-left: 10px;
}
hr {
  border: 0.5px solid #eee;
}

/* my work */
#my-work {
  text-align: center;
}
.item {
  max-width: 30%;

  position: relative; 

  display: inline-block;
  margin-bottom: 10px;
}
.item img {
  width: 100%;
}
.item-info {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 25px 10px;

  background-color: rgba(255,255,255,.8);

  position: absolute;
  top: 0;
  left: 0;

  opacity: 0;
}
.item-info:hover {
  opacity: 1;
}


/* contact me */
#contact-me {

}
form.contact-form {
  width: 50%;
  margin: 0 auto;
}
.form-row {
  margin-bottom: 15px;
}
.form-row input, .form-row textarea {
  border-radius: 3px;
  width: 100%;
  border: 1px solid #d6d9dc;
  padding: 7px;
}
.form-row textarea {
  resize: none; /*關閉'拖曳元素的右下角來改變大小'*/
  height: 4em;
}
.form-row button {
  border: none;
  border-radius: 3px;
  padding: 10px 15px;
  cursor: pointer; /* 改變滑鼠游標的形狀 */
}
.form-row button[type="submit"] {
  background-color: #5995da;
  color: #fff;
}
.form-row button:hover {
  background-color: #76aeed;
}
.form-row button:active {
  background-color: #407fc7;
}